# requirements.txt
--requirement requirements/base.txt
--requirement requirements/tts.txt
--requirement requirements/vision.txt
--requirement requirements/langchain.txt
--requirement requirements/extra.txt