langchain==0.3.7
langchain-chroma==0.1.4
langchain_openai==0.2.5
langgraph==0.2.44
langchain_community==0.3.5
langchain_ollama==0.2.0
transformers==4.45.0
spacy[ja]==3.8.2
torch==2.4.0
torchaudio==2.4.0
librosa==0.10.1
git+https://github.com/neoguojing/TTS.git
ctranslate2==4.4.0
faster-whisper==1.0.3
diffusers==0.21.2
accelerate==1.1.1
validators==0.34.0
pypdf==5.1.0
duckduckgo-search==6.3.7
beautifulsoup4==4.12.3
rank_bm25==0.2.2
pytest



